---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import NameImage from '../components/NameImage.astro';
import SocialLinks from '../components/SocialLinks.astro';
import AvatarImage from '../components/AvatarImage.astro';
import Wave from '../components/Wave.astro';
import palette from '../lib/palette';

const colors = palette.find(p => p.name === 'roygbiv-warm').colors;
const altColors = palette.find(p => p.name === 'present-correct').colors;
const month = new Date().getMonth();
const day = new Date().getDate();
const year = new Date().getFullYear();

let title = 'Nicholas Mitchell | Frontend Engineer 🏄🏻‍♂️';
let description = 'Hi 👋🏻! Welcome to my personal website. Thanks for stopping by';
let permalink = 'https://nicholasmitchell.dev/';

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />

    <style global>
      /* Fonts */
      @font-face {
        font-family: 'Karla';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/karla.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/karla.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* Tokens */
      :root {
        /* --text-color: black;
        --background-color: white;
        --link-hover-color: #841578; */
        --text-color: white;
        --background-color: #121111;
        --link-hover-color: #d49dce;
        --link-hover-gradient: #f6e5f4, #d49dce;
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --text-color: white;
          --background-color: #121111;
          --link-hover-color: #d49dce;
        }
      }
    </style>
    <style global>
            /* Reset */
      html,
      body,
      div,
      span,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      blockquote,
      pre,
      a,
      abbr,
      address,
      big,
      cite,
      code,
      del,
      em,
      img,
      q,
      s,
      samp,
      small,
      strike,
      strong,
      sub,
      sup,
      tt,
      var,
      b,
      u,
      i,
      dl,
      dt,
      dd,
      ol,
      ul,
      li,
      fieldset,
      form,
      label,
      legend,
      table,
      caption,
      tbody,
      tfoot,
      thead,
      tr,
      th,
      td,
      article,
      aside,
      canvas,
      details,
      embed,
      figure,
      figcaption,
      footer,
      header,
      hgroup,
      main,
      menu,
      nav,
      output,
      ruby,
      section,
      summary,
      time,
      mark,
      audio,
      video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }

      /* HTML5 display-role reset for older browsers */
      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      main,
      menu,
      nav,
      section {
        display: block;
      }
      /* HTML5 hidden-attribute fix for newer browsers */
      *[hidden] {
        display: none;
      }
      body {
        line-height: 1;
      }
      ol,
      ul {
        list-style: none;
      }
      blockquote,
      q {
        quotes: none;
      }
      blockquote:before,
      blockquote:after,
      q:before,
      q:after {
        content: '';
        content: none;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      * {
        box-sizing: border-box;
      }
      /* End Reset */

      /*  Utilties */
      .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
      /* End Utilties */

      /* Page Styles */
      html {
        height: 100%;
        font-family: 'Karla', -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
        font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'pnum' 1, 'tnum' 0, 'onum' 1, 'lnum' 0,
          'dlig' 1;
      }

      body {
        margin: 0;
        padding: 0;
        height: 100%;
        min-width: 100%;
        font-size: 18px;
        color: var(--text-color);
        background-color: var(--background-color);
      }

      a {
        color: inherit;
      }
      a:hover {
        color: var(--link-hover-color);
      }

      main {
        min-height: 100vh;
        min-width: 100vw;
        padding: 0 2rem 2rem;
        container-type: inline-size;
        container-name: main;
      }

      footer {
        container-type: inline-size;
        container-name: footer;
      }

      @media (min-width: 58em) {
        main {
          padding: 0;
        }

        section {
          max-width: 900px;
          margin: 4rem auto;
        }
      }

      /* Introduction */
      header {
        padding: 4rem 2rem;
        container-type: inline-size;
        container-name: header;
      }

      .header-image {
        margin-bottom: 3rem;
      }

      .subtitle br {
        display: none;
      }

      .subtitle {
        background-color: #201b23;
        border-radius: 88px;
        font-size: 1rem;
        padding: 2rem 1.5rem;
        line-height: 1.7;
        margin-bottom: 1.8rem;
        margin-top: 1.5rem;
        text-align: center;
      }

      @media (min-width: 58em) {
        header {
          padding: 0rem 2rem;
          max-width: 900px;
          margin: 4rem auto;
          margin: 10rem auto 0rem;
        }
      }

      @media (min-width: 58em) {
        .header-image {
          padding: 0rem 2rem;
          margin-bottom: 4rem;
        }

        .subtitle {
          padding: 2rem;
          font-size: 1.2rem;
          line-height: 1.9;
        }

        .subtitle br {
          display: block;
        }
      }

      /* About */
      .about {
        background-color: hsl(46deg 53% 39% / 26%);
        color: hsl(44deg 85% 43%);
        border-radius: 88px;
        padding: 3rem 3rem;
        font-size: 1.2rem;
        line-height: 1.9;
        margin-bottom: 1.8rem;
        margin-top: 1.5rem;
        transition: background-color 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53),color 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53);
      }

      .about p {
        margin-bottom: 1.5rem;
      }

      [data-scroll='0'] .about,
      [data-scroll='400'] .about {
        background-color: hsl(46deg 53% 39% / 26%) !important;
        color: hsl(44deg 85% 43%) !important;
      }

      [data-scroll='800'] .about {
        background-color: rgba(152, 47, 112, 0.26) !important;
        color: rgb(203, 16, 116) !important;
      }

      [data-scroll]:where(:not([data-scroll='0']), :not([data-scroll='400']), :not([data-scroll='800'])) .about {
        background-color: rgba(141, 47, 152, 0.26);
        color: rgb(159, 16, 203);
      }

      @container main (min-width: 58em) {
        .about {
          padding: 4rem;
        }
      }

      /* Projects */
      .projects {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
      }


      /* .projects .project {
        -webkit-mask: var(--full) text, var(--full) padding-box, var(--full);
        -webkit-mask-composite: xor;
      } */

      .projects .project {
        position: relative;
        -webkit-background-clip: text;
        background-clip: text;
      }
      .projects .project::before {
        position: absolute;
        inset: -0.25em;
        border: inherit;
        border-radius: inherit;
        background: inherit;
        background-clip: border-box;
        -webkit-mask: var(--full) padding-box, var(--full);
        -webkit-mask-composite: xor;
        mask: var(--full) padding-box exclude, var(--full);
        content: "";
      }
      .project::after {
        content: attr(data-ico);
      }


      .project {
        --project-item-color: rgb(57, 154, 167);
        --project-item-gradient-colors: rgb(184, 216, 220), rgb(39, 118, 120);
        --full: linear-gradient(red 0 0);
        --grad: linear-gradient(to right bottom, var(--project-item-gradient-colors));
        border: solid 0.25em transparent;
        background: var(--grad) border-box;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 88px;
        padding: 4rem 4rem;
        font-size: 1.4rem;
        line-height: 1.9;
        text-align: center;
      }

      .project span {
        font-size: 1rem;
      }

      .project.project:hover {
        --project-item-color: var(--link-hover-color) !important;
        --project-item-gradient-colors: var(--link-hover-gradient);
      }

      .project:nth-of-type(2) {
        --project-item-color: rgb(16, 203, 172);
        --project-item-gradient-colors: rgb(173, 221, 213), rgb(16, 203, 172);
      }

      .project:nth-of-type(3) {
        --project-item-color: rgb(129, 192, 160);
         --project-item-gradient-colors: rgb(138, 194, 166), rgb(35, 197, 116);
      }

      .project:nth-of-type(4) {
        --project-item-color: rgb(189, 214, 167);
         --project-item-gradient-colors: rgb(199, 215, 185), rgb(135, 182, 94);
      }

      .project:nth-of-type(1) {
        grid-area: a;
      }

      .project:nth-of-type(2) {
        grid-area: b;
      }

      .project:nth-of-type(3) {
        grid-area: c;
      }

      .project:nth-of-type(4) {
        grid-area: d;
      }

      @container main (min-width: 58em) {
        .projects {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          /* grid-auto-flow: column dense; */
          justify-content: center;
          flex-wrap: wrap;
          gap: 2rem;
          transition: grid-template-columns cubic-bezier(0.23, 1, 0.320, 1) 0.25s, grid-template-rows cubic-bezier(0.23, 1, 0.320, 1) 0.25s;
          will-change: grid-template-columns, grid-template-rows;
          grid-template-areas:
            "a b"
            "c d";
        }
      }

      .waves {
        display: flex;
        flex-direction: column;
        align-items: center;
        filter: brightness(0.4);
        justify-content: center;
        max-width: 56rem;
        margin: 4rem auto;
        text-align: center;
        font-size: 2.5rem;
        width: 100%;
      }

      .waves:nth-of-type(1) {
        margin-bottom: 2rem;
      }

      .waves:nth-of-type(2) {
        transform: rotate(180deg);
        margin-top: 2rem;
        margin-bottom: 4rem;
      }

      @container main (min-width: 58em) {
        .waves {
          margin: 4rem auto 0;
        }
      }

      footer {
        text-align: center;
        line-height: 1.9;
        height: 8rem;
        background-color: #201b23;
        font-size: 0.8rem;
        padding-top: 2rem;
      }

      /* End Page Styles */
    </style>
  </head>

  <body>
    <header class="introduction">
      <div class="header-content">
        <div class="header-image">
          <NameImage />
        </div>
        <h1 class="sr-only">Nicholas Mitchell</h1>
        <div class="subtitle">
          <p>
            Hey 👋! I'm a Staff Frontend Engineer based out of Austin, Texas.
            <br>Currently, I work remotely building next-gen o11y software with Cribl. Previously, Engineering Manager and Engineer at Netlify, Frontend at Shogun, SailPoint and IBM IX.
          </p>
        </div>
        <SocialLinks colors={colors} />
      </div>
    </header>
    <main>
      <section class="about">
        <h2 class="sr-only">About</h2>
        <AvatarImage />
        <p>
          I'm a frontend engineer and engineering leader that loves building products that make people's lives easier and joyful. I'm particularly passionate about the space between code and design, developer experience, and building products that are inclusive and accessible.
        </p>
        <p>
          I've worked in a wide variety of domains, from enterprise software to consumer products. I've worked on a variety of teams, from small startups to large enterprises. I've worked on a variety of products, from frontend developer tools to marketing sites to enterprise software.
        </p>
        <p>
          I cut my teeth on HTML, CSS, PHP and MySQL when I was in high school, long before anyone had ever heard the term "Frontend Engineer". I meanandered through college, getting into Art History and attending DIY and experimental house shows in Columbus, Ohio. I eventually found my way to the University of Texas at Austin, where I studied at the School of Information. From that point on, I became obsessed with frontend technologies and building software for the web.
        </p>
        <p>
          Through my experience working a variety of teams and getting to know the people using the software we built along with many lessons learned in school and in life, I've come to believe that the best approach is to follow a few simple rules. Have empathy for your users, be kind to your colleagues, and never stop learning new things. Those three things will get you very far. One more thing, don't forget to have fun! Problems will be constant, but the joy you get from solving them will be fleeting. Don't forget to enjoy the ride 🎢.
        </p>
        <p>
          Outside, of work and my career, I like to spend time my partner Beth and our daughter Ramona. As a family, we enjoy traveling to new places, playing board games, and watching movies. I enjoy listening to a bunch of different kinds of music, reading, playing around with synthesizers and vintage keyboards, skateboarding and drawing.
        </p>
      </section>

      <div class="waves">
        <Wave color={altColors[9]} />
        <Wave color={altColors[11]} />
        <Wave color={altColors[13]} />
      </div>
      <section class="projects">
        <h2 class="sr-only">Projects</h2>
        <a href="https://oldmanyellsat.netlify.app" class="project">
          Meme Generator ↗
          <span>Old man yells at cloud</span>
        </a>
        <a href="https://frontend.chat" class="project">
          Frontend Chat ↗
          <span>Discover frontend chat communities</span>
        </a>
        <a href="https://cuuute.netlify.app" class="project">
          Cuuuute ↗

          <span>A cute animal for every PR</span>
        </a>
        <a href="https://cymharu.netlify.app" class="project">
          Cymharu ↗

          <span>Compare city data side-by-side</span>
        </a>
      </section>
      <div class="waves">
        <Wave color={altColors[16]} />
        <Wave color={altColors[15]} />
        <Wave color={altColors[13]} />
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <p>
          Built with <a href="https://astro.build">Astro</a> and <a href="https://netlify.com">Netlify</a>.
        </p>
        <p>
          This page was last built on {`${month + 1}/${day}/${year}`} by <a href="https://nicholasmitchell.dev">Nicholas Mitchell</a>
        </p>
      </div>
    </footer>
  </body>
</html>

<script>
  const debounce = (fn) => {
    let frame;
    return (...params) => {
      if (frame) {
        cancelAnimationFrame(frame);
      }
      frame = requestAnimationFrame(() => {
        fn(...params);
      });
    }
  };

  const storeScroll = () => {
    const position = (Math.ceil(window.scrollY / 400) * 400).toString();
    document.documentElement.dataset.scroll = position;
  }

  const main = () => {
    document.addEventListener('scroll', debounce(storeScroll), { passive: true });

    storeScroll();

    window.history.scrollRestoration = 'auto'
  }

  main()

</script>
